#!/bin/sh

SYSTEM_NAME="..."
SYSTEM_PORT=...
SERVER_PATH="..."

cd "${SERVER_PATH}"

openssl s_server -key "${SYSTEM_NAME}-key.pem" -pass pass:123456 -cert  "${SYSTEM_NAME}.pem" -accept $SYSTEM_PORT -WWW -msg -Verify 2 > server.log
