#!/bin/sh

SYSTEM_NAME="..."

openssl pkcs12 -nocerts -out $SYSTEM_NAME-key.pem -in $SYSTEM_NAME.p12
openssl pkcs12 -clcerts -nokeys -out $SYSTEM_NAME.pem -in .$SYSTEM_NAME.p12

cd /home/ah/tests/clienttests/$SYSTEM_NAME
openssl s_server -key /home/ah/tests/clienttests/$SYSTEM_NAME-key.pem -pass pass:123456 -cert  /home/ah/tests/clienttests/$SYSTEM_NAME.pem -accept 9998 -WWW -msg -Verify 2 > server.log
